.task-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 12px;
  background-color: #d4e4ff;
  border: 1px solid #a5bce4;
  color: #1b1678;
  font-size: 0.8rem;
  justify-content: center;
}

.task-date__day {
  font-size: 1rem;
  font-weight: bold;
}

.task-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.task-date__year {
  font-size: 0.75rem;
}